<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style.css">
  <title>Reset Password Page</title>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

    body {
      margin: 0px;
      padding: 0px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .headDiv {
      width: 100%;
      height: 120px;
      background: #F9FAFB;
      text-align: center;
    }

    .mailHead {
      padding-top: 50px;
      font-family:  Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      color: #2E7DD7
    }

    .mailHead img {
      margin-right: 10px;
    }

    .theMain {
      background-color: white;
      padding-top: 48px;
      padding-bottom: 40px;
      padding-left: 10%;
      border-bottom: 1px solid #D1D5DB;
    }

    .theName {
      font-family:  Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #374151;
      width: 80%;
    }

    .theContent {
      font-family:  Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #6B7280;
      width: 80%;
    }


  </style>
</head>

<body>
  <div class="headDiv">
    <div class="mailHead"><img
        src=""
        alt="logo">CopyTradingOptions</div>
  </div>
  <div class="theMain">
    <p class="theName">Hello CopyTradingoptions User</p>
    <p class="theContent">Someone has requested a password reset for the account associated with this email</p>
    <p class="theContent">If this was a mistake, just ignore this email and nothing will happen</p>
    <p class="theContent">Your Collect password reset pin is: {{pin}}.</p>


    <p class="theContent">Best Wishes, The CopyTradingOptions</p>
   
  </div>
 

</body>

</html>